/* heading */
#heading {
    background-color: mistyrose;
    width: auto;
    height: 150px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
}
#logo {
    font-size: 58pt;
    font-weight: 500; /*400 is normal; 700 is the same as bold*/
    padding-top: 43px;
    line-height: 60%;
}
#description {
    font-size: 24pt;
    font-weight: lighter;
}

/* body */
html {
    font-style: Cambria;
    background: hsl(30,90%,98%);
}
#contains {
    font-size: 16pt;
    margin: auto;
    max-width: 700px;
}

/* footer */
hr {
    margin: 20px 0px 8px 0px;
}

/* social media links and icons */
.fa {
    padding: 8px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}
.fa:hover {
    opacity: 0.6;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
