body {
    font: 1.1em/1.4 Cambria;
    background: hsl(30,90%,98%);
    width: 80ch;
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.8em;
    font-weight: 600;
    background: mistyrose;
/*    margin-top:0;*/
/*    height: 100px;*/
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color: mistyrose;
}


/* social media links and icons */
.fa {
    padding: 8px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}
.fa:hover {
    opacity: 0.6;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
