/* Top of site */

header {
    margin: 0 auto; /* top/bottom, then left/right */
    background-color: mistyrose;
/*    background-color: #FACACE;  /* Neo Yokio pink */
    text-align: center;
}

h1 {
    margin: 0;
    padding-top: .1em;
    font-size: 4em;     /* Defining font sizes in px is not accessible, because the user cannot change the font size from the browser. */
    font-weight: 500;   /*400 is normal; 700 is the same as bold*/
    display: inline-block;
}
header span {
    font-size: 2em;
    font-variant: small-caps;
}

nav ul {
    padding: 0;     /* remove the default padding from the <ul> element */
    width: 100%;    /* sets its width to span 100% of the outer container */
}
nav li {
    display: inline;
}
nav a {
    border: solid #01050A thin;
/*    text-decoration: none;*/
    display: inline-block;
    width: 49.37%;              /* use 24.76% if there is 4 list items */
/*    text-align: center;*/
    line-height: 1.8;
    color: white;
}
nav a:link, nav a:visited, nav a:focus {
    background: #01050A;    /* almost black */
}
nav a:hover {
    background: darkgrey;
}
nav a:active {
    background: mistyrose;
}

.logo-link {
    text-decoration: none;
}

a {
    color: #2ebdd1;
    text-decoration: none;
}

main a:hover, main a:focus {
    color: #208492;
    text-decoration: underline;
}

/* body */

html {
    background-color: #FEFAF5;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25em;
}

main {
    padding: 0 1em 1em 1em; /* top, right, bottom, left (the same order as an analog clock) */
    border: thin grey;
    border-style: none solid;
    
    width: 90%;
    max-width: 35em;
    margin: 0 auto;         /* top/bottom, then left/right */
}

.list-title-details {
    font-size: .8em;
    font-weight: 500;
}

.alert {
    color: red;
}

code {
    overflow-wrap: break-word;
}

img {
    display: block;
    border: .001em solid;
}

.footnotes {
    font-size: .65em;
}

.entry-title {
    font-size: 1.625em;
    font-weight: 700;
}

#two_mg {
    color: #ff2d00;
    font-size: 1.1em;
}
.titleButton {
    margin-bottom: .8em;
}
.subTitleButton {
    margin-top: 0.9em;
}

/* footer */

footer {
    text-align: center;
    margin-bottom: 1em;
}

#copyright {
    margin: .5em auto;
}

/* social media links and icons */
.far,
.fab {
    padding: .5em;       /* 20px; */
    font-size: .78em;   /* 30px; */
    width: 1em;         /* 30px; */    /* 50px */
    text-decoration: none;
    margin: 0 .02em;     /* 5px 2px; */
    border-radius: .37em; /* 12px; */
}

.fab:hover, .far:hover, .fab:focus, .far:focus {
    opacity: 0.6;   /* 0.7 */
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-file-alt {
    background: #212529;
    color: white;
}
