/* Top of site */
header {
    margin: 0 auto;
    background-color: mistyrose;
    text-align: center;
}

h1 {
    margin: 0;
    padding-top: 55px;
    font-size: 58pt;
    font-weight: 500; /*400 is normal; 700 is the same as bold*/
    line-height: 60%;
}
h1 span {
    font-size: .5em;
    font-variant: small-caps;
}

/* We want visited links to be the same color
 as non visited links */
nav a:visited {
    color: blue;
}

/* We highlight the link when it is
 hovered (mouse), activated
 or focused (keyboard) */
nav a:hover,
nav a:active,
nav a:focus {
    color: darkred;
    text-decoration: none;
}

/* body */
html {
    font-style: Cambria;
    background-color: hsl(30,90%,98%);
}

main {
    font-size: 15pt;
    padding: 0 20px 20px 20px;  /* top, right, bottom, left (the same order as an analog clock) */
    max-width: 700px;
    margin: 0 auto;             /* top/bottom, then left/right */
    border: 1px solid grey;
    border-style: none solid;
}

ul {
    text-align: left;
}


/* footer */

footer {
    font-size: 12pt;
    text-align: center;
}

#copyright {
    margin: 8px auto;
}

/* social media links and icons */
.fa {
    padding: 8px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}

.fa:hover {
    opacity: 0.6;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
